<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <style>
        body {
            background-image: url('https://t4.ftcdn.net/jpg/00/40/55/49/360_F_40554990_VxCUaFxlVUOS87hvsrmCM51ZUjAY3XWP.jpg');
            font-family: 'Arial', sans-serif;
            color: yellow;
        }

        .carousel-inner {
            height: 10%;
            width: border-box;
        }
    </style>
    <title>Home</title>
</head>


<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="collapse navbar-collapse id=navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active bold fw-bolder">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item active bold">
                    <a href="cocktails" class="nav-link">Cocktails</a>
                </li>
                <li class="nav-item active">
                    <a href="recipes" class="nav-link">Recipes</a>
                </li>
                <li class="nav-item active">
                    <a href="videos" class="nav-link">Videos</a>
                </li>
                <li class="nav-md-3 text-end">
                        <a type="button" href="login" class="btn btn-outline-primary me-2">Login</a>
                        <a type="button" href="register" class="btn btn-primary">Sign-up</a>
                </li>
            </ul>
        </div>
    </nav>

    <h1 style="text-align: center; font-style: oblique">Cocktail Application</h1>
    <br/>

    <div>
        <p>
            A cocktail is an alcoholic mixed drink. Most commonly, cocktails are either a combination of spirits, or one or more spirits mixed with other ingredients such as tonic water, fruit juice, flavored syrup, or cream. Cocktails vary widely across regions of the world,
            and many websites publish both original recipes and their own interpretations of older and more famous cocktails.
        </p>
    </div>

    <br/>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="height: 700px">
    <div class="carousel-item active">
      <img src="https://thumbs.dreamstime.com/z/margarita-cocktail-lime-mint-margarita-cocktail-lime-mint-wooden-table-115389468.jpg" class="d-block h-100 w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://toastmag.co.nz/assets/Uploads/liquorland-1000px-wide-1-v3.jpg" class="d-block h-25 w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.rmcmedia.co.uk/assets/images/vibe/Top%20Banner/August%2021/LYKKE%20Cocktails_1000x500px.png" class="d-block h-25 w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br/>

<div>
    <p>
        The origins of the word cocktail have been debated.
        The first written mention of cocktail as a beverage appeared in The Farmers Cabinet,
        1803 in the United States.
        The first definition of a cocktail as an alcoholic beverage appeared three years
        later in The Balance and Columbian Repository (Hudson, New York) May 13, 1806.
        Traditionally, cocktail ingredients included spirits, sugar, water and bitters, however,
        this definition evolved throughout the 1800s, to include the addition of a liqueur.
        In 1862 Jerry Thomas published a bartenders’
        guide called How to Mix Drinks; or,
        The Bon Vivant's Companion which included 10 cocktail recipes using bitters to differentiate
        from other drinks such as punches and cobblers. Cocktails continued to evolve and gain popularity
        throughout the 1900s, and in 1917 the term "cocktail party"
        was coined by Mrs. Julius S. Walsh Jr. of St. Louis, Missouri. With wine and beer being
        less available during the Prohibition in the United States (1920–1933), liquor-based cocktails
        became more popular due to accessibility, followed by a decline in popularity during the late 1960s.
        The early to mid-2000s saw the rise of cocktail culture through the style of mixology which mixes
        traditional cocktails and other novel ingredients.
        Cock-tail is a stimulating liquor, composed of spirits of any kind, sugar,
        water, and bitters—it is vulgarly called bittered sling, and is supposed to be an excellent electioneering potion,
        in as much as it renders the heart stout and bold, at the same time that it fuddles the head.
        It is said, also to be of great use to a democratic candidate: because a person, having swallowed a glass of it,
        is ready to swallow any thing else.
        Dale DeGroff hypothesizes that the word evolved from the French coquetier, for an eggcup in which Antoine A.
        Peychaud, creator of Peychaud's Bitters,
        allegedly used to serve his guests a mix of cognac with a dash of his bitters.
        Etymologist Anatoly Liberman endorses as "highly probable" the theory advanced by Låftman (1946),
        which Liberman summarizes as follows:
        It was customary to dock the tails of horses that were not thoroughbred
        They were called cocktailed horses, later simply cocktails.
        By extension, the word cocktail was applied to a vulgar, ill-bred person raised above his station,
        assuming the position of a gentleman but deficient in gentlemanly breeding.
        Of importance [in the 1806 citation above] is the mention of water as an ingredient.
        Låftman concluded that cocktail was an acceptable alcoholic drink,
        but diluted, not a "purebred", a thing "raised above its station".
        Hence the highly appropriate slang word used earlier about inferior horses and sham gentlemen.
        Cocktail historian
        David Wondrich also speculates that cocktail is a reference to gingering,
        a practice for perking up an old horse by means of a ginger suppository so that the animal
        would "cock its tail up and be frisky."
        Several authors have theorized that cocktail may be a corruption of cock ale.
    </p>
</div>

</body>
</html>